{% extends "base.html" %}
{% block title %}Создание{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "add" %}">Новая задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "update" tasks.pk  %}">Изменения задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "delete" tasks.pk  %}">Удаления задачи</a>
    </li>
{% endblock %}
{% block content %}
    <div class="card" style="width: 18rem;">
    <p style="color:#FF0000">
       описание:  {{ tasks.summary }}
    </p>
    </div>
     <div class="card" style="width: 18rem;">
    <p style="color:#FF0000">
        {{ tasks.status }}
    </p>
     </div>
     <div class="card" style="width: 18rem;">
    <p style="color:#FF0000">
        {{ tasks.description }}
    </p>
       </div>
        <div class="card" style="width: 18rem;">
    <p style="color:#FF0000">тип:</p>
            </div>
            <div class="card" style="width: 18rem;">
    {% for types in tasks.type.all %}
    <p style="color:#FF0000">
        {{ types.name }}</p>
               </div>
    {% empty %}
    <p style="color:#FF0000">такого типа нету</p>
    {% endfor %}

{% endblock %}